* {
  color: #4a4a4a;
  // font-family: -apple-system-font, 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;

}
  
p{
  letter-spacing: 1px !important;
  line-height: 28px !important;
  min-height: 1em !important;
  box-sizing: border-box !important;
  word-wrap: break-word !important;
  text-align: left;
  margin: 20px 0px !important;
}

blockquote {
    background-color: #efefef !important;
    padding: 13px 15px !important;
    margin: 0px;
}

blockquote p {
  color: #595959;
  margin: 0px;
}

strong {
    font-weight: normal;
}

body {
  font-size: 15px;
  padding: 0 30px;
}

pre {
  background-color: #f8f8f8;
  border-radius: 3px;
  word-wrap: break-word;
  padding: 12px 13px;
  font-size: 13px;
  color: #898989;
}

h1,h2,h3,h4,h5,h6 {
    word-break: break-all !important;
    margin: 20px 0;
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: block;
    padding-bottom: 10px;
}

h1 {
    color: #00b38a !important;
    border-bottom: 2px solid #00b38b !important;
}

h2,h3,h4,h5,h6 {
    font-size: 16px !important;
    color: #089cbb !important;
    border-bottom: none !important;
}

a {
  color: #00b38b !important;
  text-decoration: none !important;
}

ul, ol {
  padding-left: 30px;
}

li {
  line-height: 24px;
}

hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
    border-bottom: 1px solid #ddd;
}

pre {
 background: #f2f2f2 !important;
 padding: 12px 13px;
 overflow: auto;
}

code {
  color: #a71d5d;
  overflow: auto;
}